             p {
                 font-size: 15px;
                 background-color:;
                 border:;
             }
             .box {
                 border: 1px solid green;
             }
             h1 {
                 display: block;
                 font-size: 20px;
                 text-align: center;
             }
             h3 {
                 font-size: 20px;
             }
             /* Header */
             /* Header end */
             /* Body */
             #div-one {
                 display: grid;
                 grid-template-columns: 160px 750px 1fr 150px;
                 grid-template-rows: 69px;
                 border: 5px solid green;
                 height: auto;
             }
             #div-two {
                 display: grid;
                 grid-template-columns: 615px 235px 1fr;
                 grid-template-rows: 58px;
                 border: 5px solid orange;
                 /*                  height: auto; */
             }

             /* grid test  */
             .div-box {
                 border: 2px solid crimson;
                 background: ;
             }
             #div-image {
                 /*                  align: center; */
             }
             #google-logo {
                 display: block;
                 margin-left: auto;
                 margin-right: auto;
                 height: 30;
                 width: 92;
             }

             /* flexbox test  */
             #div-image {
                 display:flex;
                 justify-content: center;
                 align-items: center;

             }
             #div-search {
                 display: flex;
                 justify-content: center;;
                 align-items: center;
             }
             #typed-input {
                 width: 570px;
                 height:40px;
             }
             .buttons {
                 border: none;
                 height:;
                 width: 24;
                 background-color: white;
             }
             #delete-input {
                 /* border-color: white;
                    background-color: white */
                 color: grey;
             }
             #search-input {
                 color: #4285f4;
             }
             .fa-times {

             }
             .fa-search {
                 /* border: none;
                    color: #4285f4;
                    background-color: white; */
             }
             #div-settings {
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }

             #initial-image {
                 border-radius: 20px;
             }

             /* Flexbox test end */
             #div-searchtypes {
                 display: flex;
                 justify-content: flex-end;
                 align-items: flex-end;

             }
             .search-icons {
                 border: none;
                 height:;
                 width: ;
                 background-color: white;

             }
             #div-tools {
                 display: flex;
                 justify-content: flex-end;

             }
             #tools-icon {
                 /*                  justify-self: flex-end; */
                 align-self: flex-end;
             }
             #div-three {
                 display: grid;
                 grid-template-columns: 225px 652px 1fr;
                 grid-template-rows: 48px;
                 border: 5px solid blue;
             }
             #search-counter {
                 grid-column-start: 2;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
             }
             #search-counter-position {
                 display: flex;
                 align-content: flex-end;
                 /*                  align-items: flex-end; */
             }
             /* RESULT CONTENT */
             /* .fa { */
             /*     display: inline; */
             /* } */
             a {
                 text-decoration: none;
             }
             a:visited {
                 text-decoration: none;
                 /* color:; */
             }
             #div-four {
                 /* Testing with height auto */
                 font-family: arial, sans-serif;
                 height: auto;
                 display: grid;
                 grid-template-columns: 230px 700px 1fr;
                 grid-template-rows: 1fr 1fr 1fr;
             }
             #content-main-div {
                 grid-column: 2 / 3;
                 grid-row: 1 / 4;
                 display: flex;
                 flex-wrap: wrap;
                 /* align-content: space-between; */
             }
             .flex-results {
                 /* background-color: lightyellow; */
                 height: auto;
                 border: 5px solid pink;
                 margin-bottom: 20px;
             }
             .result-link {
                 /* display: inline-block; */
                 /* width:; */
                 border: 2px solid crimson;
             }
             .mini-results {
                 /* padding: 20px 1px 10px 25px; */
                 display: flex;
                 flex-wrap: wrap;
             }
             .mini-result {
                 margin-top: 15px;
                 margin-left: 20px;
                 margin-bottom: 10px;
                 /* display: inline-block; */
             }
             #first-result {

             }
             #second-result {
                 grid-row-start: 2;
                 /* border: 5px solid lightblue; */
             }
             #third-result {
                 /* grid-row-start: 3; */
                 /* border: 5px solid black; */
             }
             #fourth-result {
                 width: 652px;
             }

             #caret-down {
                 /* display: inline-block; */
             }

             /* RESULT CONTENT END */
             /* Body end */
             .extra-results {
                 /* display: inline-block; */
                 /* width: 100%; */
             }
             #double-right {
                 /* display: inline; */
                 /* float: right; */
                 /* display: inline; */
             }
             /* PEOPLE ASK  */
             .ask-titles {
                 display: inline;

             }
             .ask-div {
                 display: flex;
                 align-items: center;
                 flex-wrap: nowrap;
                 justify-content: space-between;
                 /* margin: 20px; */
                 /* padding: 5px; */
                 height: 40px;
             }
             #ask-header {
                 /* height: 40px; */
                 line-height: 40px;
             }
             .grey-border {
                 border-bottom: 1px solid lightgrey;
             }
             .fa-chevron-down {
                 color: #757575;
             }
             .ask-arrow {
                 /* display: inline; */
                 /* float: right; */
             }
